<h1>Listing Catergories<h1>
<ol>
  <% @categories.each do |category| %>
    <li><%= category.descript %>
    <% if category.words.any? %>
        <% @words = category.words %>
        <h4>Word (<%= category.words.count %>)</h4>
        <ol>
          <%= render @words %>
        </ol>
        <ol>
        <h3>
          <%= link_to "Add Words", edit_category_path(category) %>
        </h3>
        <h3>
          <% @lesson = current_user.lessons.build() %>
          <%= form_for(@lesson) do |f| %>
            <%= hidden_field_tag :category_id, category.id %>
            <%= f.submit "Start Lesson", class: "btn btn-primary" %>
          <% end %>
        </h3>
      </ol>
      <% end %>
    </li>
  <% end %>
<ol>
